<% content_for :jumbotron do %>
	<h1>Add MotorCycle to Garage</h1>
<% end %>
<%= form_for([@person, @garage]) do |f| %>
	<%= f.collection_select(:motor_cycle_id, list_motors, :id, :name) %>
	<%= f.submit "Submit", class: "btn btn-default" %>
<% end %>
<br /><br /><br />